{% extends 'base.html.twig' %}

{% block title %}Atamatoki | L'artiste{% endblock %}

{% block body %}

<div class="">
    <h1>Biographie</h1>
    <p class="fs-2">
        Atamatoki (de son vrai nom Maxime)  est un compositeur et multi-instrumentistes autodidacte montreuillois de 24 ans 
        Après une formation d'Arts Appliqués, il se lance en temps que compositeur courant 2017.
        Oscillant entre instrumentales Jazz Hip Hop et Musique a l'image.
        Il tire ces influences d'artistes comme Jdilla, Nujabes et la scène Lofi Française.
        Comptabilisant un total de 1 million de streams et plus de 40 000 auditeurs par mois.
        Sa musique aussi variée que riche se caractérise par des sonoritées acoustiques et une attention particulière au sound-design.
        Ayant travaillé avec de nombreux labels de Lofi étranger (Chill Select, ChillMoonMusic, DreamhopMusic, LofiJazzRecord), il officie également en temps que compositeur de musique à l'image pour le cinéma, le spectacle vivant ou le film l'animation.
        Passioné par la recherche sonore et le travaille du son, Atamatoki se compose un panel d'instruments de tout horizons  (percussions africaines et cubaines, flute japonaise, Hang drum) dans son studio qui lui sert de laboratoire d'experimentation.
        Il a également travaillé en temps qu'ingénieur du son a l'élaboration d'un album de blues (prise de son et mixage de l'album).
    </p>
</div>

{% endblock %}
