{% extends 'base.html.twig' %}

{% block title %}
	Atamatoki - Tracks
{% endblock %}

{% block body %}
	<section class="section-tracks">
		<h1>Tracks</h1>
		<div class="browse">
			<div class="tracks">
				<!-- Track -->
				{% for track in tracks %}
					<div class="col gallery track">
						<a href="{{ path('tracks_show', {'id': track.id}) }}" class="track-unique">
							<img src="{{ asset('/uploads/'~track.image) }}" width="300"/>
							{% if is_granted('ROLE_ADMIN') %}
								<div>
									<button class="btn btn-primary">
										<a href="{{ path('track_edit', {'id' : track.id}) }}">Modifer</a>
									</button>
									<button class="btn btn-danger">
										<a href="{{ path('track_delete', {'id': track.id}) }}" onclick="return confirm('Attention ! Cette action va supprimer la piste')">Supprimer</a>
									</button>
								</div>
							{% endif %}
						</a>
					</div>
				{% endfor %}
                
			</div>
		</div>
	</section>
{% endblock body %}