img {
    max-width: 100%;
}

/*** FORM ***/

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div label {
    margin: 1rem;
}

.btn-success {
    margin: 1rem;
    font-size: 1.5rem;
}

.form-group input {
    width: 50%;
    margin: 1rem;
}

/*** TRACKS GALLERY ***/

.tracks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.col.gallery.track {
    flex: 1 1 25%;

    transition: all .7s;
}

.col.gallery.track a img {
    margin: 1rem;
}

.col.gallery.track:hover {
    transform: scale(1.15);

    transition: all .7s;
}

/*** Slider ***/

.details figure a img {
    margin: auto;
    width: 75%;
}

audio {
    width: 75%;
}

/*******************************************************************************
********************************* RESPONSIVE ***********************************
*******************************************************************************/

/*** Mobile Mini ***/

@media screen and (max-width: 650px) {
    header nav {
        flex-direction: column;
    }
}

/*** Mobile Paysage ***/


@media screen and (min-width: 650px) {
    a.logo img {
        width: 50%;
    }

    .details figure a img {
        width: 90%;
    }

    .tracks {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*** Tablet ***/

@media screen and (min-width: 768px) {

    a.logo img {
        width: 35%;
    }

    header nav {
        flex-direction: row;
    }

    audio {
        width: 90%;
    }
}

/*** Footer Flex ***/

@media screen and (max-width: 1024px) {
    .footer-flex {
        flex-direction: column;
    }
}

/*** Desktop ***/

@media screen and (min-width: 1024px) {
    a.logo img {
        width: 20%;
    }

    .footer-flex {
        flex-direction: row;
    }

    .tracks {
        grid-template-columns: repeat(4, 1fr);
    }
}

