<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue sur le site d'Atamatoki!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/ico">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
